#search_grid  {
	height: 90vh;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both;
}

.grid_item {
    border: 1px solid #bbb;
    -webkit-user-select: none;
    user-select: none;
}

.grid_item.water {
    background-color: #0d6efd;
}

.grid_item.camping {
    background-color: #90ee90;
}

.grid_item.landscape {
    background-color: #8b4513;
}

.grid_item.hiking:not(.active) {
    background-color: #259f29;
}

.grid_item.active {
    background-color: #2edb34;
}

.grid_item.flag:not(.active) {
    background-color: #fcc200;
}
