.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both;
}

.grid_item {
    display: block;
    border: 1px solid #bbb;
    float: left;
    line-height: 12px;
    font-size: 10px;
}

.grid_item.wall {
    background-color: #000000;
}

.grid_item.weight1 {
    background-color: #ffffff;
}

.grid_item.weight3 {
    background-color: #D6EAFF;
}

.grid_item.weight5 {
    background-color: #ABD1FF;
}

.grid_item.start {
    background-color: #FF703F;
}

.grid_item.active {
    background-color: #FF703F;
}

.grid_item.finish {}
